body {
    background-color: #222222;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Arial';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border: 1px solid rgb(132, 14, 201);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}

nav ul li {
    margin-left: 35px;
    font-size: 21px;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    color: rgb(132, 14, 201);
}

.banner .aa {
    color: rgb(132, 14, 201);
}

.banner h1 {
    font-size: 50px;
}

.banner {
    margin-top: 14%;
    padding-left: 15%;
}
.banner img {
    padding-left: 35%;
    margin-top: -13%;
    position: absolute;
} 

.banner a {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

.banner a:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

.faixa {
    background-color: #555;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20%;
    padding-bottom: 3%;
}

.card {
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin-top: 4%;
}


.card h3 {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.card:hover {
    transform: translateY(-15%);
}

.card:hover p {
    opacity: 1;
}

.card a.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 50px;
    transition: background-color 0.3s ease;
}

.card a.btn:hover {
    background-color: #0056b3;
}

footer {
    font-family: 'Arial';
    font-size: 30px;
}

footer h3 {
    font-size: 25px;
    color: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footer-section ul.social-media {
    display: flex;
}

.footer-section ul.social-media li {
    margin-right: 25px;
}


.footer-bottom {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    font-size: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.footer-bottom-text {
    margin-top: 10px;
    font-size: 17px;
}