body {
    background-color: #222222;
    display: flex;
}

img {
    width: 300px;
}

body p {
    font-size: 30px;
    color: white;
}

body h1 {
    font-style: italic;
    color: wh;
    text-align: center;
}

.cl1 {
    position: absolute;
    width: 350px;
    height: 650px;
    background-color: #414141;
    text-align: center;
    margin-top: 140px;
    margin-left: 140px;
    border-radius: 16px;
    color: white;

}

.cl2 {
    position: absolute;
    justify-content: baseline;
    width: 350px;
    height: 650px;
    background-color: #414141;
    text-align: center;
    margin-top: 140px;
    border-radius: 16px;
    margin-left: 780px;
    color: white;
}

.cl3 {
    position: absolute;
    justify-content: baseline;
    width: 350px;
    height: 650px;
    background-color: #414141;
    text-align: center;
    margin-top: 140px;
    border-radius: 16px;
    margin-left: 1400px;
    color: white;
}

head {
    font-weight: bold;
}