body {
    font-family: Arial, sans-serif;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.attendance {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.attendance h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.present {
    background-color: #4CAF50; /* Verde */
}

.absent {
    background-color: #F44336; /* Vermelho */
}
